img {
  border: 		0px;
  vertical-align:	text-bottom;
}

body {
  margin-left: 	auto;
  margin-right: 	auto;
  max-width: 		62%;
}
p {
  font-family: 	Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 	Georgia, serif;
  font-weight: 	bold;
}

h1 { font-size: 2em; margin: .67em 0 ; text-align: center}
h2 { font-size: 1.5em; margin: .75em 0 }
h3 { font-size: 1.17em; margin: .83em 0 }
h4 { font-size: 1em; margin: 1em 0 }
h5 { font-size: .83em; margin: 1.5em 0 }
h6 { font-size: .75em; margin: 1.67em 0 }

code,pre {font: "courier new",courier,monospace;}
code{max-width:99%; word-wrap:break-word; background:rgb(224,224,224);}
pre{display: block; padding: 0.5em 1em; background:rgb(224,224,224); border: 1px solid #bebab0;}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px; 
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

table {
  margin-left:auto;
  margin-right:auto;
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
  background-color: white;
}
table th {
  border-width: 1px;
  padding: 1px;
  border-style: solid;
  border-color: gray;
  background-color: white;
  -moz-border-radius: ;
}
table td {
  border-width: 1px;
  padding: 1px;
  border-style: solid;
  border-color: gray;
  background-color: white;
  -moz-border-radius: ;
} 
